[submodule "docker-openstack-keystone"]
	path = docker-openstack-keystone
	url = ../docker-openstack-keystone
[submodule "docker-openstack-baseos"]
	path = docker-openstack-baseos
	url = ../docker-openstack-baseos
